*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:#f9f9eb;
}












/* NavBar */
.menuBurger{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 55% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    background: #00BE7B;
    transition: 0.6s;
    
}
.menuToggle{
    display: flex;
    flex-direction: row;
}
.menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    transform: translateX(-100%);
    transition: 0.6s;
    background-color: #404040;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.menuContent {
    margin: 50px 0 0 0;
    list-style: none;
    display: none;
}
.menuContent li {
    background-color: #00BE7B;
    color: white;
    font-size: 3.5vw;
    padding: 20px 20px 20px 20px;
    text-align: center;
    display: none;

}
.navigation {
    font-size: 1.35vw;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    
}
.navigation li {
    padding: 40px 25px 40px 25px;

}
a {
    text-decoration: none;
    color: inherit;
}
.navigation li:hover {
    background-color: white;
    color: #00BE7B;
    cursor: pointer;
    transition: 0.4s ease;
}
.logoChartresNav{
    padding: 0 100px;
}
.logoChartresBurger {
    width: 90%;
    margin: 200px 0 0 0;
}


@media only screen and (min-width: 0px) and (max-width: 1280px) {
    .navigation{
        display: none;
    }
    .menu{
        display: block;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        display: flex;
        position: fixed;
        padding: 20px 0 15px 0;

    }
    .menuContent{
        display: block;
    }
    .menuContent li {
        display: block;
    }
}